ul, li {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    text-align: left;
}


/* Navigation Bar */

#menu {
    list-style: none;
    width: 940px;
    margin: 30px auto 0 auto;
    height: 43px;
    padding: 0 20px;
    border-radius: 10px;
    background: #014464;
    border: 1px solid #002232;
    box-shadow: inset 0 0 1px #edf9ff;
}

#menu li {
    float: left;
    text-align: center;
    position: relative;
    padding: 4px 10px;
    margin-right: 30px;
    margin-top: 7px;
    border: none;
}

#menu li:hover {
    border: 1px solid #777777;
    padding: 4px 9px;
    background: #F4F4F4;
    border-radius: 5px 5px 0 0;
}

#menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #EEEEEE;
    display: block;
    outline: 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

#menu li:hover a {
    color: #161616;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#menu li .drop {
    padding-right: 21px;
  /*  starBackground: url("img/drop.png") no-repeat right 8px;*/
}

#menu li:hover .drop {
    /*starBackground: url("img/drop.png") no-repeat right 7px;*/
}


/* Drop Down */

.dropdown_1column, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
    margin: 4px auto;
    float: left;
    position: absolute;
    left: -999em;
    text-align: left;
    padding: 10px 5px;
    border: 1px solid #777777;
    border-top: none;
    background: #F4F4F4;
    border-radius: 0 5px 5px 5px;
}

.dropdown_1column {
    width: 140px;
}

.dropdown_2columns {
    width: 280px;
}

.dropdown_3columns {
    width: 420px;
}

.dropdown_4columns {
    width: 560px;
}

.dropdown_5columns {
    width: 700px;
}

#menu li:hover .dropdown_1column, #menu li:hover .dropdown_2columns, #menu li:hover .dropdown_3columns, #menu li:hover .dropdown_4columns, #menu li:hover .dropdown_5columns {
    left: -1px;
    top: auto;
}


/* Columns */

.col_1, .col_2, .col_3, .col_4, .col_5 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.col_1 {
    width: 130px;
}

.col_2 {
    width: 270px;
}

.col_3 {
    width: 410px;
}

.col_4 {
    width: 550px;
}

.col_5 {
    width: 690px;
}

#menu .menu_right {
    float: right;
    margin-right: 0;
}

#menu li .align_right {
    border-radius: 5px 0 5px 5px;
}

#menu li:hover .align_right {
    left: auto;
    right: -1px;
    top: auto;
}


/* Drop Down Content Stylings */

#menu p, #menu h2, #menu h3, #menu ul li {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    font-size: 12px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
}

#menu h2 {
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 7px 0 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #666666;
}

#menu h3 {
    font-size: 14px;
    margin: 7px 0 14px;
    padding-bottom: 7px;
    border-bottom: 1px solid #888888;
}

#menu p {
    line-height: 18px;
    margin: 0 0 10px 0;
}

#menu li:hover div a {
    font-size: 12px;
    color: #015b86;
}

#menu li:hover div a:hover {
    color: #029feb;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.imgshadow {
    background: #FFFFFF;
    padding: 4px;
    border: 1px solid #777777;
    margin-top: 5px;
    box-shadow: 0 0 5px #666666;
}

.img_left {
    width: auto;
    float: left;
    margin: 5px 15px 5px 5px;
}

#menu li .black_box {
    background-color: #333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px black;
    padding: 4px 6px;
    border-radius: 5px;
    box-shadow: inset 0 0 3px black;
}

#menu li ul {
    list-style: none;
    padding: 0;
    margin: 0 0 12px 0;
}

#menu li ul li {
    font-size: 12px;
    line-height: 24px;
    position: relative;
    text-shadow: 1px 1px 1px white;
    padding: 0;
    margin: 0;
    float: none;
    text-align: left;
    width: 130px;
}

#menu li ul li:hover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

#menu li .greybox li {
    background: #F4F4F4;
    border: 1px solid #bbbbbb;
    margin: 0 0 4px 0;
    padding: 4px 6px;
    width: 116px;
    border-radius: 5px;
}

#menu li .greybox li:hover {
    background: white;
    border: 1px solid #aaaaaa;
    padding: 4px 6px;
    margin: 0 0 4px 0;
}
