<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <script type="text/javascript" th:src="@{/js/base/base.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/qrcode/jquery.qrcode.js}"></script>
    <script type="text/javascript" th:src="@{/js/qrcode/qrcode.js}"></script>
    <script>
        /**
         * 支持无滚动条的页面以 Fullscreen api启动的全屏 或是 按f11启动的全屏
         * 不支持有滚动条的页面
         * @returns {boolean}
         */
        function isFullscreenForNoScroll(){
            var explorer = window.navigator.userAgent.toLowerCase();
            if(explorer.indexOf('chrome')>0){//webkit
                if ((document.body.scrollHeight === window.screen.height|| document.body.scrollHeight>window.screen.height-5)&& (document.body.scrollWidth === window.screen.width||document.body.scrollWidth > window.screen.width-5)) {
                    console.log("全屏");
                    return true;
                } else {
                    console.log("不全屏");
                    return false;
                }
            }else{//IE 9+  fireFox
                if (window.outerHeight === window.screen.height && window.outerWidth === window.screen.width) {
                    console.log("全屏");
                    return true;
                } else {
                    console.log("不全屏");
                    return false;
                }
            }
            $(".first").attr("onclick", "exitscreen()");
            $("#fullScreen").html("退出全屏");
            $("#screenStatus").html("Exit full screen");
            loadJs(projectName+"/tools/starBackground/js/backgroundEffect.js");
        }

        function checkFull() {
            //判断是否全屏(返回当前全屏的元素)
            var FullEl = document.fullscreenElement    ||
                document.msFullscreenElement  ||
                document.mozFullScreenElement ||
                document.webkitFullscreenElement;

            //若是不支持Html5中的API，可以使用以最原始的判断方式，但需要将页面的滚动条去掉
            if (FullEl === null) {
                return isFullscreenForNoScroll();
            }
            return true;
        }


        function exitscreen() {//退出全屏
            if(window.parent.document.getElementsByTagName("iframe").length==0){
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                }
            }else{
                if (window.parent.document.exitFullscreen) {
                    window.parent.document.exitFullscreen();
                } else if (window.parent.document.mozCancelFullScreen) {
                    window.parent.document.mozCancelFullScreen();
                } else if (window.parent.document.webkitExitFullscreen) {
                    window.parent.document.webkitExitFullscreen();
                }
            }
            $(".first").attr("onclick", "fullscreen()");
            $("#fullScreen").html("全屏");
            $("#screenStatus").html("Full screen");




                /*  if (document.exitFullscreen) {
                      document.exitFullscreen();
                  } else if (document.mozCancelFullScreen) {
                      document.mozCancelFullScreen();
                  } else if (document.webkitExitFullscreen) {
                      document.webkitExitFullscreen();
                  }
        */
           /* if(window.parent.document.getElementsByTagName("iframe").length==0){
                window.exitscreen2();
                document.location.reload();
            }else{
                window.parent.exitscreen2();
            }*/
        }
       /* function exitscreen2() {
            var bodyHtml= $("body").html();
            $("body").remove();
            var html=document.querySelector("html");
            var body = document.createElement("body");
            body.style.width="100%";
            body.style.height="100%";
            body.style.overflow="hidden";
            body.innerHTML=bodyHtml;
            html.appendChild(body);

        }*/





    </script>

    <a href="../../static"
       th:href="@{${#httpServletRequest.getScheme()}+ '://' + ${#httpServletRequest.getServerName()}+ ':'+${#httpServletRequest.getServerPort()}+${#httpServletRequest.getContextPath()}+'/' }"
       id="contextPath"></a>

    <!--live2d-->
    <!--<script>
        $(function () {
            loadlive2d("live2d", "/model.json");
        })
    </script>-->
    <!--live2d-->

</head>


</html>