<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/view/commons/head::head('首页')"></head>
<link rel="stylesheet" type="text/css" th:href="@{/js/layui/css/layui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/tools/live2d/css/live2dSmall.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/tools/lineLoading/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/tools/cardCascading/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/tools/menu/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/tools/starBackground/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/tools/daudio/css/d-audio.css}">
<!--markdown-->
<link rel="stylesheet" type="text/css" th:href="@{/tools/markdown/examples/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/tools/markdown/css/editormd.preview.css}"/>
<script th:src="@{/tools/markdown/lib/marked.min.js}"></script>
<script th:src="@{/tools/markdown/lib/prettify.min.js}"></script>
<script th:src="@{/tools/markdown/lib/raphael.min.js}"></script>
<script th:src="@{/tools/markdown/lib/underscore.min.js}"></script>
<script th:src="@{/tools/markdown/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/tools/markdown/lib/flowchart.min.js}"></script>
<script th:src="@{/tools/markdown/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/tools/markdown/editormd.js}"></script>
<!--markdown-->

<!--echarts-->
<script th:src="@{/js/echarts/echarts.min.js}"></script>
<!--echarts-->

<!--天气预报-->
<script>(function (T, h, i, n, k, P, a, g, e) {
    g = function () {
        P = h.createElement(i);
        a = h.getElementsByTagName(i)[0];
        P.src = k;
        P.charset = "utf-8";
        P.async = 1;
        a.parentNode.insertBefore(P, a)
    };
    T["ThinkPageWeatherWidgetObject"] = n;
    T[n] || (T[n] = function () {
        (T[n].q = T[n].q || []).push(arguments)
    });
    T[n].l = +new Date();
    if (T.attachEvent) {
        T.attachEvent("onload", g)
    } else {
        T.addEventListener("load", g, false)
    }
}(window, document, "script", "tpwidget", "//widget.seniverse.com/widget/chameleon.js"))</script>
<script>tpwidget("init", {
    "flavor": "slim",
    "location": "WX4FBXXFKE4F",
    "geolocation": "enabled",
    "language": "zh-chs",
    "unit": "c",
    "theme": "chameleon",
    "container": "tp-weather-widget",
    "bubble": "enabled",
    "alarmType": "badge",
    "uid": "U713A12A15",
    "hash": "bc2b2184a0fe7775c1c0330e72be7d54"
});
tpwidget("show");</script>
<!--天气预报-->
<script>


    /*   function importExcel() {
           var formData = new FormData($("#upload")[0]);
           $.ajax({
               url: "/demo/importExcel",
               type: "post",
               data: formData,
               processData: false,
               contentType: false,
               success: function (data) {
                   if (data) {
                       debugger;
                       alert("上传成功！" + data);
                   }
               },
               error: function (err) {
                   alert("网络连接失败,稍后重试", err);
               }
           })
       }

       function uploadFile() {
           var formData = new FormData($("#upload")[0]);
           $.ajax({
               url: "/demo/uploadFile",
               type: "post",
               data: formData,
               processData: false,
               contentType: false,
               success: function (data) {
                   if (data) {
                       alert("上传成功！" + data);
                   }
               },
               error: function (err) {
                   alert("网络连接失败,稍后重试", err);
               }
           })
       }*/


    //清除界面留下点击界面
    function ClearUI(n) {
        $("#markdown").hide();
        $("#home").hide();
        $("#content").hide();
        switch (n) {
            case 1:
                $("#home").show();
                break;
            case 2:
                $("#content").show();
                break;
            case 3:
                break;
        }
    }

    function showMyrecord(n) {
        ClearUI(n);
        $("#content").show();
        var myChart = echarts.init(document.getElementById('main1'));
        myChart.showLoading();

        $.get(projectName + '/file/getMyrecordFiles', function (diskData) {
            myChart.hideLoading();

            function colorMappingChange(value) {
                var levelOption = getLevelOption(value);
                myChart.setOption({
                    series: [{
                        levels: levelOption
                    }]
                });
            }

            var formatUtil = echarts.format;

            function getLevelOption() {
                return [
                    {
                        itemStyle: {
                            normal: {
                                borderColor: '#777',
                                borderWidth: 0,
                                gapWidth: 1
                            }
                        },
                        upperLabel: {
                            normal: {
                                show: false
                            }
                        }
                    },
                    {
                        itemStyle: {
                            normal: {
                                borderColor: '#555',
                                borderWidth: 5,
                                gapWidth: 1
                            },
                            emphasis: {
                                borderColor: '#ddd'
                            }
                        }
                    },
                    {
                        colorSaturation: [0.35, 0.5],
                        itemStyle: {
                            normal: {
                                borderWidth: 5,
                                gapWidth: 1,
                                borderColorSaturation: 0.6
                            }
                        }
                    }
                ];
            }

            myChart.setOption(option = {

                title: {
                    text: '笔记',
                    left: 'center'
                },

                tooltip: {
                    formatter: function (info) {
                        var value = info.value;
                        var treePathInfo = info.treePathInfo;
                        var treePath = [];

                        for (var i = 1; i < treePathInfo.length; i++) {
                            treePath.push(treePathInfo[i].name);
                        }

                        return [
                            '<div class="tooltip-title">' + formatUtil.encodeHTML(treePath.join('/')) + '</div>',
                            '笔记: ' + formatUtil.addCommas(value) + ' KB',
                        ].join('');
                    }
                },

                series: [
                    {
                        name: '笔记',
                        type: 'treemap',
                        visibleMin: 300,
                        label: {
                            show: true,
                            formatter: '{b}'
                        },
                        upperLabel: {
                            normal: {
                                show: true,
                                height: 30
                            }
                        },
                        itemStyle: {
                            normal: {
                                borderColor: '#D65F5C'
                            }
                        },
                        levels: getLevelOption(),
                        data: diskData

                    }
                ]
            });
            myChart.on("dblclick", function (param) {
                var path = "";
                $.each(param.treePathInfo, function (n) {
                    if (this.dataIndex != 0) {
                        if (n != param.treePathInfo.length - 1) {
                            path += this.name + "/";
                        } else if (typeof (param.data.children) == 'undefined') {
                            path += this.name;
                        }
                    }
                })
                leftPath = path;
                $("#content").hide();
                $("#markdown").show();
                mdToHml();
                // alert(path);
            });
        });
    }
    function logout() {
        var url = projectName +"/login/logOut";
        $.get(url,function (data) {
                window.location.href=projectName+"/";
        })

    }
</script>
<style>
    #markdown {
        position: absolute;
        overflow: auto;
        top: 11%;
        left: 20%;
        width: 55%;
        height: 85%;
        z-index: 2;
        border-radius: 10px;
        background-color: white;
        padding-top: 10px;
        display: none;
    }

    #EditorMdview {
        overflow: auto;
        height: 100%;
        width: 100%;
        padding-top: 10px;
    }

    ::-webkit-scrollbar-track-piece {
        background-color: #fff; /*滚动条的背景颜色*/
        -webkit-border-radius: 10px; /*滚动条的圆角宽度*/
    }

    ::-webkit-scrollbar {
        width: 8px; /*滚动条的宽度*/
        height: 8px; /*滚动条的高度*/
        margin-right: 2px;
    }

    ::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
        height: 50px;
        background-color: #999;
        -webkit-border-radius: 4px;
        outline: 2px solid #fff;
        outline-offset: -2px;
        border: 2px solid #fff;
    }

    ::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
        height: 50px;
        background-color: #9f9f9f;
        -webkit-border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
        width: 5px;
        background-color: #CCCCCC;
        -webkit-border-radius: 6px;
    }

    body { /*切换加载遗漏需加这*/
        width: 100%;
        height: 100%;
        overflow: hidden
    }

    #homeContent{
        color: white;
        font-size: 25px;
    }

    .centerContent {
        position: absolute;
        z-index: 3;
        left: 20%;
        width: 60%;
        height: 80%;
        top: 10%
    }
    #tp-weather-widget *{
        color: white;
    }
    #logout{
        float: right;
        background-color: transparent;
        color: white;
        height: 40px;
        width: 70px;
        font-size: 20px;
        border-radius: 50%;
    }

</style>
<body>
<!--<ul th:replace="/view/commons/menu::menu('')"></ul>-->
<div id="home" class="centerContent" align="left">
    <!--天气-->
    <div id="tp-weather-widget" style="float: right;font-size: 14px;color: white"></div>
    <!--天气-->
    <button id="logout" style="float: right;background-color: transparent;color: white" onclick="logout()">登出</button>
    <div id="homeContent">
    <h3 class="title">简介</h3>
    <div>练手项目，为了展示下只搬迁了guns的数据库以及几个实体类关系使项目大致完整，完成了简单化的向前T出sso，由于需要面试所以挺多还未弄完，比如留言，邮件不稳定，把guns那部分弄来充当后台，笔记是在有道云协作搬来的，和别人两人写的</div>
    <h3 class="title">主要架构</h3>
    <div>
        springboot(1.5.14.RELEASE),mybatis-plus,maven,shiro,thymeleaf
    </div>
    <h3 class="title">插件</h3>
    <div>
        layer,echarts,Editor..(大量效果以及部分demo未展示)
    </div>
    <h3 class="title">环境</h3>
    <div>
        mysql,redis,nginx,docker
    </div>
    <h3 class="title">链接</h3>
    <div>
        <a style="color:lightblue;marin-right:50px" href="https://gitee.com/stylefeng/guns/tree/v5.1-final">guns,</a>
        <a style="color:lightblue" href="https://gitlab.com/dglZero/myrecord">myrecord-gitlab(<a href="https://gitlab.com/dglZero/myrecord/-/archive/master/myrecord-master.zip">下载</a>)</a>
    </div>
    </div>

</div>


<div id="content" class="centerContent" style="display: none">
    <div id="main1" style="width: 100%;height:100%;position:absolute;z-index:3;"></div>
</div>

<div id="leaveWord" class="centerContent" style="display: none">


</div>




<!--光环旋转-->
<div style="position: absolute;z-index:2;left: 5%;top:5%">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<!--光环旋转-->

<!--网络音乐-->
<div id="NetMusic" style="position:absolute;z-index:2;right: 5%;top:5%">
    <div id="video"></div>
    <div id="d-audio" style="height: 55px;"></div>
</div>
<script type="text/javascript" th:src="@{/tools/daudio/js/d-audio.js}"></script>
</body>
<!--网络音乐-->

<!--markdown-->
<div id="markdown">
    <div id="EditorMdview">
        <textarea id="appendTest" style="display:none;"></textarea>
    </div>
</div>
<script type="text/javascript">
    var leftPath = "";

    //markDown转HTMl的方法
    function mdToHml() {
        var url = projectName + "/file/download?leftPath=" + leftPath;
        $.get(url, function (data) {
            //先对容器初始化，在需要展示的容器中创建textarea隐藏标签，
            $("#EditorMdview").html('<textarea id="appendTest" style="display:none;"></textarea>');
            $("#appendTest").val(data);//将需要转换的内容加到转换后展示容器的textarea隐藏标签中
            $("#markdown").show();

            //转换开始,第一个参数是上面的div的id
            editormd.markdownToHTML("EditorMdview", {
                htmlDecode: "style,script,iframe", //可以过滤标签解码
                emoji: true,
                taskList: true,
                tex: true,				 // 默认不解析
                flowChart: true,			// 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
        })
    }
</script>
<!--markdown-->


<!--右侧栏目-->
<div style="position: absolute;z-index:2;top:30%;right:20%;">

    <div class="tariffCards">
        <div class="economy" onclick="ClearUI(1)">
            <img th:src="@{/tools/cardCascading/img/tarcs.png}" alt="Economy" height="74">
            <h3>首页</h3>
            <span>Home Page</span>
        </div>
        <div class="premiumeconomy" onclick="showMyrecord(2)">
            <img th:src="@{/tools/cardCascading/img/tarcs.png}" alt="Premium Economy" height="74">
            <h3>显示笔记</h3>
            <span>Show Note</span>
        </div>
        <div class="business">
            <img th:src="@{/tools/cardCascading/img/tarcs.png}" alt="Business" height="74">
            <h3>留言(未做)</h3>
            <span>Leave Word</span>
        </div>
        <div class="first" onclick="exitscreen()">
            <img th:src="@{/tools/cardCascading/img/tarcs.png}" alt="First" height="74">
            <h3 id="fullScreen">退出全屏</h3>
            <span id="screenStatus">Exit full screen</span>
        </div>
    </div>
</div>

<!--live2d-->
<div id="landlord">
    <div class="message" style="opacity:1;color: white;"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="hide-button">隐藏</div>
</div>
<!--live2d-->


<!--旋转星星背景-->

<div class="header" id="starBackground" style="z-index:1">
    <div class="canvaszz"></div>
    <canvas id="starBackCanvas" style="z-index:1;position:absolute;left:0px"></canvas>
</div>
<script th:src="@{/tools/starBackground/js/backgroundEffect.js}"></script>
<!--旋转星星背景-->


<!--全屏-->
<script>
    var reloadUrl = new Array();

    function fullscreen() {//调用父级全屏

        elem = window.parent.document.body;
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        }
        //FireFox
        else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
        }
        //Chrome等
        else if (elem.webkitRequestFullScreen) {
            elem.webkitRequestFullScreen();
        }
        //IE11
        else if (elem.msRequestFullscreen) {
            elem.msRequestFullscreen();
        }
       reloadUrl.push("/tools/starBackground/js/backgroundEffect.js");
        setTimeout('reloadJs(reloadUrl.length-1)', 100);

        $(".first").attr("onclick", "exitscreen()");
        $("#fullScreen").html("退出全屏");
        $("#screenStatus").html("Exit full screen");
    }

    /*fullscreen();*/
   if (checkFull() == "") {//不知道什么鬼这判断才成功
        $(".first").attr("onclick", "fullscreen()");
        $("#fullScreen").html("全屏");
        $("#screenStatus").html("Full screen");
    } else {
        $(".first").attr("onclick", "exitscreen()");
        $("#fullScreen").html("退出全屏");
        $("#screenStatus").html("Exit full screen");
    }
    var loadNum = 0;

    function reloadJs(n) {//当加载页面出来才重新加载脚本
        if (!loadJs(projectName + reloadUrl[n])) {
            if (loadNum == 50) {
                return;
            }
            loadNum++;
            setTimeout('reloadJs(n)', 100);
        }
    }


</script>

<!--全屏-->

<div th:replace="/view/commons/footer::footer('')"></div>
</body>
</html>