<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:replace="/view/commons/head::head('登录')"></head>

<link th:href="@{/tools/input/css/input.css}" rel="stylesheet" type="text/css"/>

<link th:href="@{/tools/LoginUI/css/default.css}" rel="stylesheet" type="text/css"/>
<!--必要样式-->
<link th:href="@{/tools/LoginUI/css/styles.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/tools/LoginUI/css/demo.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/tools/LoginUI/css/loaders.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/tools/LoginUI/js/jquery-ui.min.js}"></script>
<script th:src="@{/tools/LoginUI/js/stopExecutionOnTimeout.js?t=1}"></script>
<script th:src="@{/tools/LoginUI/layui/layui.js}" type="text/javascript"></script>
<script th:src="@{/tools/LoginUI/js/Particleground.js}" type="text/javascript"></script>
<script th:src="@{/tools/LoginUI/js/Treatment.js}" type="text/javascript"></script>
<script th:src="@{/tools/LoginUI/js/jquery.mockjax.js}" type="text/javascript"></script>


<script th:src="@{/js/layer/layer.js}"></script>
<script>

    $(function () {


        $("input").focus(function () {//修改效果只能一条input
            $(".keyup").removeClass("keyup");
            chanceInput(this);
        })

    })


    function getPath() {
        var pathName = document.location.pathname;
        var index = pathName.substr(1).indexOf("/");
        var result = pathName.substr(0, index + 1);
        return result;
    }

    var vailTimer;
    var sleepTime = "3s";

    function getPhoneVail() {
        $("#getVail").attr("disabled", "disabled");
        $("#getVail").val(sleepTime);
        var url = getPath() + "/sendPhoneVail?phoneNum=" + $("input[name='phoneNum']").val();
        $.get(url, function (data) {
            alert(data);
        })
        vailTimer = window.setInterval("setSendBtuVal()", 1000);

    }

    function setSendBtuVal() {

        var leaveTime = $("#getVail").val().split("s")[0];
        leaveTime = parseInt(leaveTime) - 1;
        $("#getVail").val(leaveTime + "s");
        if (leaveTime == 0) {
            $("#getVail").removeAttr("disabled");
            $("#getVail").val("获取验证码");
            window.clearInterval(vailTimer);
        }

    }

    function register() {
        var username = $("#register input[name='username']").val();
        var password = $("#register input[name='password']").val();
        var phoneNum = $("#register input[name='phoneNum']").val();
        var phoneCode = $("#register input[name='phoneCode']").val();

        var url = "/demo/registerUser";
        var data = {
            "username": username,
            "password": password,
            "phoneNum": phoneNum,
            "phoneCode": phoneCode
        }
        $.post(url, data, function (data) {
            alert(data);
        })

    }

</script>
<style>
    #registerUi {
        position: absolute;
        z-index: 0;
    }
</style>
<body style="width: 100%;height: 100%">

<div>
    <!--<input type="text" name="username" placeholder="账号">
    <input type="password" name="password" placeholder="密码">
    <input type="text" name="code" placeholder="验证码">
    <img style="height: 50px;" id="codeImg" onclick="this.src = '/code/verifyCode?'+Math.random()" alt="点击更换"
         title="点击更换" src="/code/verifyCode"/>
    <input type="button" onclick="login()" value="登录">-->
</div>


<div id="loginUi" class="login" style="left:0%;padding-top:0%;height:46%">
    <div class="login_title" style="margin:30px 0px">
        <h1>管理员登录</h1>
    </div>
    <div class="login_fields">
        <div class="login_fields__user">
            <div class="icon">
                <img alt="" src="/myrecord/tools/LoginUI/img/user_icon_copy.png">
            </div>
            <input name="username" placeholder="用户名" maxlength="16" type="text" autocomplete="off" value="">
            <div class="validation">
                <img alt="" src="/myrecord/tools/LoginUI/img/tick.png">
            </div>
        </div>
        <div class="login_fields__password">
            <div class="icon">
                <img alt="" src="/myrecord/tools/LoginUI/img/lock_icon_copy.png">
            </div>
            <input name="password" placeholder="密码" value="" maxlength="16" type="text" autocomplete="off">
            <div class="validation">
                <img alt="" src="/myrecord/tools/LoginUI/img/tick.png">
            </div>
        </div>
        <div class="login_fields__password">
            <div class="icon" style="opacity: 0.5;">
                <img alt="" src="/myrecord/tools/LoginUI/img/key.png">
            </div>
            <input name="code" placeholder="验证码" maxlength="4" type="text" autocomplete="off">
            <div class="validation" style="opacity: 1;top: 15px;">
                <img style="height: 35px;" id="codeImg"
                     onclick="this.src = projectName+'/code/verifyCode?'+Math.random()" alt="点击更换"
                     title="点击更换" src="/myrecord/code/verifyCode"/>
            </div>
        </div>
        <div class="login_fields__submit" style="position:absolute;width:124%;top: 55%;left: 5%;bottom: 0%;height:20%;">
            <input type="button" id="login" value="登录">
            <input type="button" id="showRegister" value="注册" style="float:right">
        </div>
    </div>
    <div class="success">
    </div>
    <div class="disclaimer">
        <p>欢迎登陆我的笔记系统</p>
    </div>
</div>
<div id="registerUi" class="login" style="left:45%;padding-top:0%;height:46%;display: none;opacity: 0;">
    <div class="login_title" style="margin:30px 0px">
        <h1 style="margin:0px;width: 100%;float:left"><span style="float:left">注册</span>
            <div class="login_fields__submit" style="float: right;width: 50%;">
                <input type="button" id="register" value="确认"
                       style="float:right;margin:0px;font-size: 20px;width: 61%;padding:0px;height: 65%;"></div>
        </h1>
    </div>
    <div class="login_fields">
        <div class="login_fields__user">
            <div class="icon" style="opacity: 0.5;">
                <img alt="" src="/myrecord/tools/LoginUI/img/user_icon_copy.png">
            </div>
            <input name="username" placeholder="用户名" maxlength="16" type="text" autocomplete="off" value="admin"
                   class="">
            <div class="validation" style="opacity: 1; right: -25px;">
                <img alt="" src="/myrecord/tools/LoginUI/img/tick.png">
            </div>
        </div>
        <div class="login_fields__password">
            <div class="icon" style="opacity: 0.5;">
                <img alt="" src="/myrecord/tools/LoginUI/img/lock_icon_copy.png">
            </div>
            <input name="password" placeholder="密码" value="" maxlength="16" type="password" autocomplete="off">
            <div class="validation">
                <img alt="" src="/myrecord/tools/LoginUI/img/tick.png">
            </div>
        </div>
        <div class="login_fields__password">
            <div class="icon" style="opacity: 0.5;">
                <img alt="" src="/myrecord/tools/LoginUI/img/lock_icon_copy.png">
            </div>
            <input name="password" placeholder="重复密码" value="" maxlength="16" type="password" autocomplete="off">
            <div class="validation">
                <img alt="" src="/myrecord/tools/LoginUI/img/tick.png">
            </div>
        </div>
      <div class="login_fields__password">
            <div class="icon" style="opacity: 0.5;">
                <img alt="" src="/myrecord/tools/LoginUI/img/key.png">
            </div>
            <input name="Email" id="Email" placeholder="邮箱" type="text" autocomplete="off">
        </div>
        <div class="login_fields__password">
            <div class="icon" style="opacity: 0.5;">
                <img alt="" src="/myrecord/tools/LoginUI/img/key.png">
            </div>
            <input id="EmailCode" placeholder="邮箱验证码" maxlength="4" type="text" autocomplete="off">
            <input type="button" id="checkedEmail" value="验证" style="margin:0px;float:right">
        </div>

    </div>
    <div class="success">
    </div>

</div>
<div class='authent'>
    <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <p>认证中...</p>
</div>
<div class="OverWindows"></div>



<script>
    var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
    var ajaxmockjax = 1;//是否启用虚拟Ajax的请求响 0 不启用  1 启用

    $("input").focus(function () {//修改效果只能一条input
        $(".keyup").removeClass("keyup");
        chanceInput(this);
    })
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            $('input[type="button"]').click();
        }
    });
    //粒子背景特效
    $('body').particleground({
        dotColor: '#E8DFE8',
        lineColor: '#133b88'
    });
    $('input[name="password"]').focus(function () {
        $(this).attr('type', 'password');
    });
    $('input[type="text"]').focus(function () {
        $(this).prev().animate({'opacity': '1'}, 200);
    });
    $('input[type="text"],input[type="password"]').blur(function () {
        $(this).prev().animate({'opacity': '.5'}, 200);
    });
    $('input[name="username"],input[name="password"]').keyup(function () {
        var Len = $(this).val().length;
        if (!$(this).val() == '' && Len >= 5) {
            $(this).next().animate({
                'opacity': '1',
                'right': '-25'
            }, 200);
        } else {
            $(this).next().animate({
                'opacity': '0',
                'right': '25'
            }, 200);
        }
    });
    $('#showRegister').click(function () {
        $("#registerUi").show();
        $("#registerUi").animate({opacity: "1"});
    })
    $("#checkedEmail").click(function () {
        if ($("#Email").val() == null || $("#Email").val() == "") {
            layer.msg("请填写邮箱", function () {
            });
            return false;
        }
        var json={
            "username":$("#registerUi input[name='username']").val(),
            "getEmail":$("#Email").val()
        }
        var url = projectName + "/login/sendEmail";
        $.post(url,json, function (data) {
            if (data) {
                $("#checkedEmail").css("background-color", "green");
                $("#checkedEmail").css("color", "white");
            } else {
                layer.msg("验证码错误", function () {
                });
            }
        })
    })

    $('#register').click(function () {


        var username = $("#registerUi input[name='username']").val();
        var password = $("#registerUi input[name='password']");
        var Email = $("#Email").val();
        var EmailCode = $("#EmailCode").val();


        var passwordChecked;
        var end =false;
        $.each(password, function () {
            if (!passwordChecked) {
                if($(this).val()==null||$(this).val()==""){
                    layer.msg("密码不为空", function () {  });
                    end=true;
                    return false;
                }
                passwordChecked = $(this).val();
            } else {
                if (passwordChecked != $(this).val()) {
                    layer.msg("密码不一致", function () {
                    });
                    end=true;
                    return false;
                }
            }
        })
        if(Email==null||Email==""){
            layer.msg("邮箱不为空", function () {
            });
            return false;
        }
        if(EmailCode==null||EmailCode==""){
            layer.msg("请校验邮箱", function () {
            });
            return false;
        }

        if(end){
            return false;
        }
        var checkEmail = $("#EmailCode").val();
        var json = {
            "username": username,
            "password": passwordChecked,
            "Email": Email,
            "EmailCode": EmailCode
        }

        var url = projectName + "/login/registerUser";
        $.post(url, json, function (data) {
            if (data.pass) {
                layer.msg(data.msg);
                $("#registerUi").animate({opacity: "0"});
            } else {
                layer.msg(data.msg, function () {
                });
            }
        })


    })

    //非空验证
    $('#login').click(function () {

        var username = $('input[name="username"]').val();
        var password = $('input[name="password"]').val();
        var code = $('input[name="code"]').val();
        if (username == '') {
            ErroAlert('请输入您的账号');
        } else if (password == '') {
            ErroAlert('请输入密码');
        } else {
            //认证中..
            fullscreen();//全屏
            $('.login').addClass('test'); //倾斜特效
            setTimeout(function () {
                $('.login').addClass('testtwo'); //平移特效
            }, 300);
            setTimeout(function () {
                $('.authent').show().animate({right: -320}, {
                    easing: 'easeOutQuint',
                    duration: 600,
                    queue: false
                });
                $('.authent').animate({opacity: 1}, {
                    duration: 200,
                    queue: false
                }).addClass('visible');
            }, 500);

            //登陆
            var jsonData = {
                "username": username,
                "password": password,
                "code": code
            }
            var url = "loginUser";
            $.post(url, jsonData, function (data) {
                //ajax返回
                //认证完成
                setTimeout(function () {
                    $('.authent').show().animate({right: 90}, {
                        easing: 'easeOutQuint',
                        duration: 600,
                        queue: false
                    });
                    $('.authent').animate({opacity: 0}, {
                        duration: 200,
                        queue: false
                    }).addClass('visible');
                    $('.login').removeClass('testtwo'); //平移特效
                }, 2000);
                setTimeout(function () {
                    $('.authent').hide();
                    $('.login').removeClass('test');
                    if (data.pass) {
                        //登录成功
                        $('.login div').fadeOut(100);
                        $('.success').fadeIn(1000);
                        $('.success').html(data.msg);
                        //跳转操作
                        $("body").html('<iframe src="' + projectName + '/index/" style="width:100%;height:100%;border:0px"></iframe>');
                        history.replaceState(202, "", projectName + '/index/');
                        //  location.href = projectName1 + "/index/";
                    }
                    else {
                        if (data.reload) {
                            location.href = location.href;
                        }
                        if (data.remainCount > 0) {
                            layer.msg(data.msg + ",剩下次数:" + data.remainCount, function () {
                            });
                        } else {
                            layer.msg(data.msg, function () {
                            });
                        }
                    }

                }, 2400);

            })

        }
    })

    function fullscreen() {
        elem = document.body;
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        }
        //FireFox
        else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
        }
        //Chrome等
        else if (elem.webkitRequestFullScreen) {
            elem.webkitRequestFullScreen();
        }
        //IE11
        else if (elem.msRequestFullscreen) {
            elem.msRequestFullscreen();
        }
    }

</script>
<script type="text/javascript" th:src="@{/tools/input/js/input.js}"></script>
</body>

</html>